{{ define "main" }}
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 class="posttitle" itemprop="name headline">{{ .Title }}</h1>
		{{ partial "metadata.html" . }}
	</header>
	<div class="content" itemprop="articleBody">
		{{ .Content }}
	</div>

	<div style="display: inline; width: 100%; height: 50px">
		{{ with .Params.Prev }}<a style="float: left;" href="{{ . }}"><- Prev</a>{{ end }}
		{{ with .Params.Next }}<a style="float: right;" href="{{ . }}">Next -></a>{{ end }}
	</div>

</article>
<br><br>
{{ end }}
